#inputs {
  padding:1rem;
  width:80%;
}

.card {
  box-shadow: 3px 3px 2px #C00021;
}

.card-subtitle {
  padding-bottom:0.25em;
}

input[type=text] {
  width:50%;
}

.card {
  margin-bottom:1rem;
  background-color: #00c09f;
}

body {
  background-color: #c6c5b9;
}

.jumbotron {
  background-color: #393D3F;
  color: #FDFDFF
}

.container {
  background-color: #393D3F;
}

.card-subtitle {
  color:darkslateblue;
}